@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/tailwind.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import 'react-dropdown/style.css';
@import "react-datepicker/dist/react-datepicker.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes dissolve {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bg-custom-radial-gradient-red {
  background: radial-gradient(100% 726.51% at 100% 0%, #FF5733 0%, #A40714 91.84%);
  /* background: #FA5233; #A40714; */
}

.bg-custom-radial-gradient-purple {
  background: radial-gradient(76.01% 85.78% at 42.3% 31.63%, #59008B 0%, #210033 100%);
}

.bg-custom-overlay-gradient-red{
  background: radial-gradient(100% 268.88% at 8.5% 0%, rgba(252, 84, 50, 0) 51%, #D73426 77%, #CE2C23 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background: rgba(0, 0, 0, 0.7) !important;
}


.bg-mmn-purple{
  background-color: #00205B;
}

.bg-mmn-red{
  background-color: #FF5733;
}

.text-color-mmn-grey{
  color: #757575;
}

.text-color-mmn-yellow{
  color: #FF5733;
}

.text-color-mmn-purple{
  color: #00205B;
}

.text-size-mmn-small{
  font-size: 14px;
}
.text-size-mmn-normal{
  font-size: 14px;
}
.text-size-mmn-medium{
  font-size: 16px;
}
.text-size-mmn-large{
  font-size: 20px;
}
.text-size-mmn-extra{
  font-size: 24px;
}


.line-height-mmn-small{
  line-height: 18px;
}
.line-height-mmn-normal{
  line-height: 21px;
}
.line-height-mmn-medium{
  line-height: 24px;
}
.line-height-mmn-large{
  line-height: 28px;
}
.line-height-mmn-extra{
  line-height: 36px;
}

.magazine{
  
}
.border-color-mmn-grey{
  border-color: #BCBCBC;
}

.border-color-mmn-lightgrey{
  border-color: #D9D9D9;
}

.border-color-mmn-purple{
  border-color: #00205B;
}


@media (min-width: 0px) and (max-width: 768px) {
  .ReactModal__Overlay.ReactModal__Overlay--after-open{
    overflow-y: auto !important;
  }
  .ReactModal__Content.ReactModal__Content--after-open{
    width: 80% !important;
    margin-top: 20px !important;
  }  
}

.slick-slider li.slick-active{
  opacity: 1;
}

.slick-slider li{
  opacity: .2;
}

.slick-dots li{
  width: inherit;
  height: inherit;
  margin: 0px;
}